@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*---------------------Roots-----------------*/

:root {
    --Black: #0B0B08;
    --White: #ffffff;
    --LightGrey: #D9D9D9;
    --Paragraph: #838383;
    --Blue: #0AA4F4;
    --btnbackground: #131310;
}

/*---------------------Roots-----------------*/




.advantages {
    position: relative;
    z-index: 12;
    background: var(--Black);
    margin-top: 0px;
}


.advantages .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}

.advantages .container .counter-box {
    text-align: center;
}

.advantages .container .counter-box h5 {
    font-size: 20px;
    color: var(--Paragraph);
    font-weight: 400;
    margin-top: 10px;
}

.advantages .container .counter-box .counter {
    font-size: 130px;
    color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.advantages .container .line {
    background-color: #838383;
    width: 1px;
    height: 200px;
}

/*-------Advantage-------*/





@media (max-width:1280px) {
    .advantages .container .counter-box h5 {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media (max-width:1080px) {
    .advantages .container .counter-box .counter {
        font-size: 100px;
        height: 90px;
    }

    .advantages .container .counter-box h5 {
        font-size: 18px;
    }
}

@media (max-width:780px) {
    .advantages .container {
        margin-top: 80px;
    }

    .advantages .container .counter-box .counter {
        font-size: 80px;
        height: 70px;
    }

    .advantages .container .counter-box h5 {
        font-size: 16px;
    }

    .advantages .container .line {
        width: 2px;
        height: 100px;
    }
}

@media (max-width:690px) {
    .advantages .container .counter-box .counter {
        font-size: 60px;
        height: 50px;
    }

    .advantages .container .counter-box h5 {
        font-size: 12px;
    }
        .advantages .container {
    margin-top: 50px;
}
}

@media (max-width:460px) {
    .advantages .container {
        display: block;
    }

    .advantages .container .line {
        width: 100%;
        height: 2px;
    }

    .advantages .container .counter-box {
        margin: 20px 0px;
    }
        .advantages .container {
    margin-top: 30px;
}
}