/*---------------------Roots-----------------*/

:root {
    ---green: #BEF209;
    ---white: #ffffff;
    ---black: #000000;
    ---border: #e5e5e5;
}

/*---------------------Roots-----------------*/




.heading {
    text-align: left;
    margin-top: 100px;
}

.heading h1 {
    color: var(---black);
    font-size: 50px;
}




@media (max-width:1100px) {

    .heading h1 {
        font-size: 40px;
    }
    .heading {
    text-align: left;
    margin-top: 50px;
}
}

@media (max-width:880px) {

    .heading h1 {
        font-size: 30px;
    }
}

@media (max-width:700px) {

    .heading h1 {
        font-size: 25px;
    }
    .heading {
    margin-top: 30px;
}
}

@media (max-width:460px) {

    .heading h1 {
        font-size: 18px;
        text-align: center;
    }
    .testimonial-section .heading h1{
        font-size: 25px;
    }
}