
/*---------------------Roots-----------------*/

:root {
    --Black: #0F0F0F;
    --White: #ffffff;
    --LightGrey: #D9D9D9;
    --Paragraph: #838383;
    --Blue: #0AA4F4;
    --btnbackground: #131310;
}

/*---------------------Roots-----------------*/

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: end;
    height: 100%;
}

.hero .container .text h1 {
    font-size: 100px;
    color: var(---white);
    font-weight: 900;
    font-style: italic;
}

.hero .container .text {
    width: 100%;
    position: relative;
}

.hero .container .text p {
    color: var(---white);
    line-height: 35px;
    font-size: 14px;
    position: absolute;
    bottom: 10%;
}

.hero .container .text .list {
    position: absolute;
    right: 50px;
    top: 0;
}

.hero .container .text .list a {
    display: block;
    color: var(---white);
    line-height: 40px;
}

.hero .container .text #heading2 {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: -20px;
}

.hero video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Fix for mobile view */



/* media quries */


@media (max-width:2600px) {
    .hero .container .text {
    margin-bottom: 0px;
}
}

@media (max-width:1950px) {
    .hero .container {
        height: 900px;
    }
}


@media (max-width:1772px) {
    .hero .container .text h1 {
        font-size: 90px;
    }

    .hero .container .text #heading2 {
        margin-top: 0px;
    }
        .hero .container {
        height: 820px;
    }
}

@media (max-width:1674px) {}

@media (max-width:1590px) {
    .hero .container .text h1 {
        font-size: 80px;
    }

    .hero .container .text .list a {
        line-height: 30px;
    }
}

@media (max-width:1486px) {
    .hero .container {
        height: 730px;
    }

    .hero .container .text {
        margin-bottom: 0px;
    }

}

@media (max-width:1390px) {
    section {
        padding: 20px 40px;
    }

}

@media (max-width:1366px) {
    .hero .container {
        height: 720px;
    }
}

@media (max-width:1340px) {
    .hero .container .text h1 {
        font-size: 70px;
    }

    .hero .container .text .list a {
        line-height: 30px;
    }

}

@media (max-width:1280px) {

    html {
        font-size: 80%;
    }

    section {
        padding: 20px 20px;
    }

    .hero .container {
        height: 690px;
    }

    .hero .container .text h1 {
        font-size: 70px;
    }

    .hero .container .text .list a {
        line-height: 30px;
    }
}

@media (max-width:1080px) {
    section {
        padding: 20px 15px;
    }

    .hero .container {
        height: 580px;
    }

    .hero .container .text h1 {
        font-size: 55px;
    }

    .hero .container .text .list a {
        line-height: 25px;
    }

    .hero .container .text p {
        line-height: 25px;
        font-size: 12px;
        bottom: 0%;
    }


}

@media (max-width:990px) {
    .hero .container {
        height: 500px;
    }

    .hero .container .text h1 {
        font-size: 50px;
    }

    .hero .container .text .list a {
        line-height: 20px;
    }

    .hero .container .text p {
        line-height: 25px;
        font-size: 12px;
        bottom: 0%;
    }
}

@media (max-width:930px) {
    .hero .container {
        height: 500px;
    }

    .hero .container .text h1 {
        font-size: 45px;
    }

    .hero .container .text .list a {
        line-height: 20px;
    }

    .hero .container .text p {
        line-height: 25px;
        font-size: 11px;
        bottom: 0%;
    }
}

@media (max-width:840px) {
        .hero {
        height: 100vh;
    }
        .hero video {
        width: 100vw;
        /* Full screen width */
        height: 100vh;
        /* Full screen height */
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .hero .container {
        height: 800px;
    }


    .hero .container .text {
        margin-bottom: 80px;
    }

    .hero .container .text h1 {
        font-size: 45px;
    }

    .hero .container .text #heading2 {
        justify-content: left;
        margin-top: 0px;
    }

    .hero .container .text .list a {
        line-height: 30px;
    }

    .hero .container .text .list {
        position: absolute;
        right: 10px;
        top: 0;
    }

    .hero .container .text p {
        line-height: 25px;
        font-size: 11px;
        bottom: -50%;
    }
}

@media (max-width: 768px) {
    .hero .container .text {
        margin-bottom: 80px;
    }

    .hero .container .text h1 {
        font-size: 35px;
    }

    .hero .container .text #heading2 {
        justify-content: left;
        margin-top: 0px;
    }

    .hero .container .text .list a {
        line-height: 30px;
        font-size: 12px;
    }

    .hero .container .text .list {
        position: absolute;
        right: 10px;
        top: 0;
    }

    .hero .container .text p {
        line-height: 25px;
        font-size: 11px;
        bottom: -70%;
    }
}

@media (max-width:690px) {
    .hero .container .bottomdata .smallvideo {
        display: none;
    }

    .hero .container .bottomdata {
        justify-content: center;
    }

    .hero .container .bottomdata h1 {
        font-size: 60px;
        line-height: 60px;
        text-align: center;
        margin: 10px 0px;
    }

    .hero .container .bottomdata h4 {
        font-size: 16px;
        letter-spacing: 5px;
        text-align: center;
        margin-bottom: 10px;
    }

    .hero .container .topdata p {
        display: none;
    }

    .hero .container .topdata .social i {
        width: 45px;
        height: 45px;
        font-size: 16px;
        margin-top: 20px;
    }

    .hero .container .bottomdata p {
        display: inherit;
    }
}

@media (max-width:630px) {
    .hero .container {
        height: 780px;
    }

    .hero .container .text {
        margin-bottom: 80px;
    }

    .hero .container .text h1 {
        font-size: 30px;
    }

    .hero .container .text #heading2 {
        justify-content: left;
        margin-top: 0px;
    }

    .hero .container .text .list a {
        line-height: 25px;
        font-size: 10px;
    }

    .hero .container .text .list {
        position: absolute;
        right: 10px;
        top: 0;
    }

    .hero .container .text p {
        line-height: 25px;
        font-size: 10px;
        bottom: -80%;
    }
}

@media (max-width:550px) {
    .hero .container .text .list {
        position: absolute;
        right: 0px;
        left: 0;
        top: -40%;
        display: flex;
    }

    .hero .container .text .list a {
        padding-right: 10px;
    }
}

@media (max-width:460px) {


}

@media (max-width:430px) {
        .hero .container {
        height: 800px;
    }

}

@media (max-width:400px) {
        .hero .container {
        height: 680px;
    }
    .hero .container .text {
        margin-bottom: 80px;
    }

    .hero .container .text h1 {
        font-size: 25px;
    }

    .hero .container .text #heading2 {
        justify-content: left;
        margin-top: 0px;
    }

    .hero .container .text .list a {
        line-height: 25px;
        font-size: 10px;
    }

    .hero .container .text .list {
        position: absolute;
        right: 10px;
        top: -50%;
    }

    .hero .container .text p {
        line-height: 20px;
        font-size: 9px;
        bottom: -80%;
    }
}


@media (max-width:350px) {
    .hero .container .text h1 {
        font-size: 22px;
    }

    .hero .container .text .list a {
        line-height: 25px;
        font-size: 9px;
    }

    .hero .container .text .list {
        position: absolute;
        right: 10px;
        top: -50%;
    }

    .hero .container .text p {
        line-height: 20px;
        font-size: 8px;
        bottom: -80%;
    }
        .hero .container .text {
        margin-bottom: 80px;
    }

}

